* {
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
  }
body {
    max-height: 100vh;
  background:
    url('https://transparenttextures.com/patterns/paper-2.png'),
    lightgray;
    ;
  background-repeat: repeat;
  background-size: auto;
  color: black;
}
