.custom-toast {
  border-radius: 5rem;
  color: black;
  padding: 1rem !important;
  margin: 1rem !important;
  height: auto !important;
  width: auto !important;
}

.custom-toast-title {
  text-align: center !important;
  font-size: 1.8rem !important;
  font-weight: 500 !important;
  line-height: 1.4;
  margin: 0 !important;
}

.swal2-icon {
  transform: scale(1.1);
  margin: auto 1.2rem  !important;
}


